.footer {
    background-color: #353535;
    color:#FFF;
    padding-top: 15px;
    padding-bottom: 20px;
    &__title {
        margin-left: 40px;
        font-size: 1.1rem;
        font-family: 'Shrikhand','regular';
    }
    .list {
        &__icon {
            padding-right: 2px;
            width: 32.4px;
        }
        &__item {
            font-size: 0.9rem;
            padding-bottom: 5px;
        }
        &__link {
            color: #FFF!important;
        }
    }
}