.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0 1px 5px -2px rgba(80, 80, 80, 0.70);
        &__logo {
            width: 150px;
            @mixin media-td {
                width: 230px;
            }
        }

}

