.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-shadow: 0 1px 5px -2px rgba(80, 80, 80, 0.70);
        &__logo {
            width: 150px;
            @mixin media-td {
                width: 230px;
            }
        }

}
.location {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EAEAEA;
    color: #353535;
    font-size: 0.8rem;
        &__text {
            margin-left: 15px;
            font-size: 1.3em;
        }
        &__icon {
            font-size: 1.3em;
        }
}
