.discovery {
    background-color: #F7F7F7;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 40px;

    &__title {
        margin-block-start: 0;
        padding-top: 20px;
    }

    &__button {
        display: inline-block;
        padding: 13px;
        background: linear-gradient(to top, $color-primaire, $color-secondaire);
        color: #FFF;
        border: none;
        border-radius: 40px;
        box-shadow: 0 4px 10px rgba(80, 80, 80, 0.25);
        text-decoration: none;
    }
}

.instruction {
    width: 85%;
    padding-left: 15%;

    &__menu {
        display: flex;
        padding: 0;
        justify-content: space-between;
        counter-reset: menu-counter;
    }

    .menu {
        &__list::before {
            counter-increment: menu-counter;
            content: counter(menu-counter);
            display: inline-block;
            width: 25px;
            height: 25px;
            background-color: $color-primaire;
            color: #FFF;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
        }
     

        &__list {

            width: 30%;
            height: 75px;
            display: flex;
            align-items: center;
            border-radius: 15px;
            margin-bottom: 15px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        }

        &__icon {
            margin-left: 10%;
            margin-right: 5%;
        }

    }
}