.item {

    &__check {

        border-radius: 0 1rem 1rem 0;
        background-color: $color-tertiaire ;
        display: none; // Important
        min-width: 65px;
        height: 65px;

        .fas.fa-check {
            top: 30%;
            position: fixed;
            border: 2px solid white;
            border-radius: 100%;
            background-color: white;
            color: $color-tertiaire;
            padding: 4px;
        }
    }

    &:hover .item__check {
        animation: slideRight 0.6s;
        display: flex; /// Important
        justify-content: center;

    }
}