 .item {
     &__icon {
         font-size: 1.5rem;
         position: absolute;
         right: 7%;
         bottom: 15%;
         background-color: black;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         transition: opacity 0.5s ease-out;

         &:hover {
             opacity: 0;
             background-image: linear-gradient(180deg, #9356DC 10%, #FF79DA 60%);
         }
     }

     &__icon--active {
         font-size: 1.5rem;
         position: absolute;
         right: 7%;
         bottom: 15%;
         opacity: 0;
         color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);

         &:hover {
             opacity: 1;
         }
     }

     &__card-icon {

         .fa-solid {
             z-index: 1;
             opacity: 0;            
         }

         &:hover {
             .fa-solid {
                 opacity: 1;
             }
         }
     }
 }