@-webkit-keyframes loading {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes loading {
    0% {
        visibility: visible;
    }

    100% {
        visibility: hidden;
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight {
    0% {
      margin-right: -4.8rem;
    }
    100% {
      margin-right: 0rem;
 
    }
  }
@keyframes fill {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
      background-color: transparent
    }
    100% {
      -webkit-transform: scale(0.90);
      transform: scale(0.90);
      opacity: 1;
    }
  }