.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    opacity: 1;
    background-color: #fff;
    -webkit-animation: loading 2s ease-in-out forwards;
    animation: loading 2s ease-in-out forwards;

    .loader-spinner {

        width: 2rem;
        height: 2rem;
        margin: 5px;
        transform: scale(0);
        -webkit-animation: grow 1s linear infinite;
        animation: spin 2s linear infinite;

        &.loader-spinner--actif {
            border: 16px solid #f3f3f3;
            /* Light grey */
            border-top: 16px solid $color-primaire;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
        }


    }
}

