@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
body {
  max-width: 1400;
  margin: auto;
  font-family: Roboto;
}

*,
::before,
::after {
  box-sizing: border-box;
  list-style-type: none;
}

main {
  margin-bottom: -2%;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0 1px 5px -2px rgba(80, 80, 80, 0.7);
}
.header__logo {
  width: 150px;
}

.location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  color: #353535;
  font-size: 0.8rem;
}
.location__text {
  margin-left: 1%;
}

main {
  margin-bottom: -2%;
}

.discovery {
  background-color: #F7F7F7;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.discovery__title {
  margin-block-start: 0;
  padding: 20px 15px 0px 15px;
}
.discovery__button {
  display: inline-block;
  padding: 13px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: #FFF;
  border: none;
  border-radius: 40px;
  box-shadow: 0 4px 10px rgba(80, 80, 80, 0.25);
  text-decoration: none;
}

.instruction {
  width: 95%;
  padding-left: 5%;
}
.instruction__menu {
  display: flex;
  flex-direction: column;
  padding-left: 0%;
  counter-reset: menu-counter;
}
@media screen and (min-width: 992px) {
  .instruction__menu {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
  }
}
.instruction .menu__list::before {
  counter-increment: menu-counter;
  content: counter(menu-counter);
  background-color: #9356DC;
  color: #FFF;
  line-height: 25px;
  position: absolute;
  font-size: 0.7rem;
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  padding-top: 0.5px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.instruction .menu__list {
  display: flex;
  position: relative;
  height: 48px;
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 992px) {
  .instruction .menu__list {
    width: 30%;
  }
}
.instruction .menu__icon {
  margin-left: 10%;
  margin-right: 5%;
}
.instruction .menu__icon--active {
  margin-left: 10%;
  margin-right: 5%;
  color: #9356DC;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 5% 5% 5% 5%;
}
@media screen and (min-width: 992px) {
  .restaurant {
    padding: 2% 5% 5% 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .restaurant__title {
    width: 100%;
  }
}
.restaurant .item {
  position: relative;
}
@media screen and (min-width: 992px) {
  .restaurant .item {
    flex: 40%;
  }
}
.restaurant .item__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.restaurant .item__figure {
  position: relative;
  margin: 0;
}
.restaurant .item__img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurant .item__caption {
  display: none;
}
.restaurant .item__title {
  margin: 5px 0 0 10px;
}
.restaurant .item__text {
  font-size: 0.9rem;
  margin: 5px 0 10px 10px;
}
.restaurant .item__icon {
  opacity: 1;
  font-size: 1.5rem;
  position: absolute;
  right: 60px;
  margin-top: 180px;
}
.restaurant .item__icon--active {
  opacity: 0;
  position: absolute;
  right: 60px;
  margin-top: 180px;
  color: #9356DC;
}
.restaurant .item__new {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  border-radius: 2px;
  width: 65px;
  height: 25px;
  font-size: 0.7rem;
  color: #008766;
  position: absolute;
  right: 10%;
  margin-top: 20px;
}

.footer {
  background-color: #353535;
  color: #FFF;
  padding-top: 15px;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
.footer__title {
  margin-left: 40px;
  font-size: 1.1rem;
  font-family: "Shrikhand", "regular";
}
@media screen and (min-width: 992px) {
  .footer__title {
    margin-right: 40px;
  }
}
@media screen and (min-width: 992px) {
  .footer .list {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
}
.footer .list__icon {
  padding-right: 2px;
  width: 32.4px;
}
.footer .list__item {
  font-size: 0.9rem;
  padding-bottom: 5px;
}

/*# sourceMappingURL=style.css.map */
